.tab-wrapper {
  display: flex;
  align-items: center;
}

.tab-wrapper .item-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tab-wrapper .item-wrapper #text-ipt {
  min-width: 300px;
  min-height: 200px;
}

.tab-wrapper .item-wrapper .result-text {
  all: unset;
  border: 1px solid #ccc;
  min-width: 300px;
  min-height: 200px;
  box-sizing: border-box;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  display: inline-block;
}

.tab-wrapper .item-wrapper .result-text .success {
  color: #52c41a;
}

.tab-wrapper .item-wrapper .result-text .error {
  color: #ff4d4f;
}

.tab-wrapper .line-vertical {
  width: 1px;
  min-height: 300px;
  display: block;
  background-color: #ccc;
  margin: 0 24px;
}

.line-horizontal {
  display: block;
  height: 1px;
  background-color: #ccc;
}